
.wrapper1{
    text-align: center;
    height: 100vh;
  
}

.wrapper2{
    text-align: center;
    display: flex;
    width: 100%;
   
}

.wrapper3{
    text-align: center;
    display: flex;
    width: 50%;
    margin-left: 50px;
    justify-content: space-between;
  
}

.wrapper4{
    text-align: center;
    display: flex;
    width: 50%;
    margin-right:50px;
    justify-content: space-between;
   
}