
.wrapper1{
    text-align: center;
    height: 100vh;
    border: 2px solid black;
  
}

.wrapper2{
    text-align: center;
    display: flex;
    width: 100%;
   
}

.wrapper3{
    text-align: center;
    display: flex;
    width: 50%;
    margin-left: 50px;
    justify-content: space-between;
  
}

.wrapper4{
    text-align: center;
    display: flex;
    width: 50%;
    margin-right:50px;
    justify-content: space-between;
   
}

.com1{
    display: block;
    font-size: 20px;
    border: 2px solid black ;
    padding: 10px;
    height:60px;
    width:300px;
    margin-left:50px;
    justify-content: space-between; 
    
}

.com2{
    display:block;
    font-size: 20px;
    border: 2px solid black ;
    padding: 10px;
    height:60px;
    width:300px;
    margin-left:50px;
  
}

.com3{
    display:block;
    font-size: 20px;
    border: 2px solid black ;
    padding: 10px;
    height:60px;
    width:300px;
    margin-left:50px;
}