.conflicts {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  z-index: auto;
}

.height-20 {
  height: 20px;
}

.large {
  font-size: 25px;
  font-family: "Arapey", serif;
  font-weight: bold;
}

.wrapper-con1 {
  font-size: large;
  display: flex;
  width: 100%;
  z-index: auto;
}

.wrapper-con2 {
  text-align: center;
  width: 50%;
  justify-content: space-around;
  z-index: auto;
  padding: 20px;
}

.wrapper-con3 {
  text-align: center;
  width: 50%;
  justify-content: space-around;
  z-index: auto;
  padding: 20px;
}

.con-sqr-1 {
  width: 200px;
  height: 250px;
  position: absolute;
  transform: rotate(-20deg);
  background-color: rgba(233, 150, 122, 0.623);
  margin-left: 130px;
  margin-top: -20px;
  z-index: -1;
}

.con-sqr-2 {
  transform: rotate(-30deg);
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: rgba(47, 79, 79, 0.582);
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 10px;
  margin-bottom: 300px;
  margin: auto;
  z-index: -1;
}

.con-sqr-3 {
  transform: rotate(-60deg);
  position: absolute;
  width: 200px;
  height: 150px;
  background-color: rgba(194, 189, 189, 0.555);
  z-index: -1;
}

.con-sqr-4 {
  transform: rotate(-25deg);
  position: absolute;
  width: 200px;
  height: 150px;
  background-color: rgba(47, 79, 79, 0.582);
  margin-right: 40px;
  margin-top: 150px;
  z-index: -1;
}
.conflictPic2 {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .con-sqr-1 {
    display: none;
  }

  .wrapper-con1 {
    display: grid;
  }

  .wrapper-con2 {
    width: auto;
  }

  .wrapper-con3 {
    width: auto;
  }

  .conflictPic {
    width: 70%;
  }
}
