.conflicts{
    font-size: large;
    text-align: center;
    /* height: 100vh; */
    border: 2px solid black;
    padding-left: 30px;
    padding-right: 30px;
    z-index: auto;

}

.wrapper-con1{
    font-size: large;
    display: flex;
    width: 100%;
    z-index: auto;
}

.wrapper-con2{
    text-align:center;
    width: 50%;
    justify-content: space-around;
    z-index: auto;
}

.wrapper-con3{
    text-align: center;
    width: 50%;
    justify-content: space-around;
    z-index: auto;
}

.con-sqr-1{
    width: 200px;
    height: 250px;
    /* width: 20%;
    height: 35%; */
    position: absolute; 
    transform: rotate(-20deg);
    background-color: rgba(0, 0, 0, 0.555);
    margin-left: 130px;
    margin-top: -20px;
    z-index: -1;
}

 .con-sqr-2{
    transform: rotate(-30deg);
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgba(177, 22, 22, 0.555);
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 10px;
    margin-bottom: 300px;
    margin: auto;
    z-index: -1;
    /* margin: 0; */
} 

.con-sqr-3{
    transform: rotate(-60deg);
    position: absolute;
    width: 200px;
    height: 150px;
    background-color: rgba(194, 189, 189, 0.555); 
    /* margin-right: 90px; */
    /* margin-left: -190px; */
    z-index: -1;
    
} 

.con-sqr-4{
    transform: rotate(-25deg);
    position: absolute;
    width: 200px;
    height: 150px;
    background-color:rgba(177, 22, 22, 0.555);
    margin-right: 40px;
    margin-top: 150px;
    z-index: -1;
    
} 