.description{
    text-align: center;
    /* margin: 50px; */
    height: auto;
    border: 2px solid black;
}

.description>p{
    font-size: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.pic1{
    width: 400px;
    height: 200px;
    margin-right: 435px;
}
