.description{
    text-align: center;
    /* margin: 50px; */
    height: auto;
    border: 2px solid black;
}

.description>p{
    font-size: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.display-flex{
    display: flex;
    font-size: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.pic3{
    width: 350px;
    height: auto;
    border: 2px solid black;
    padding: 20px;
    margin: 10px;
}

.pic1{
    width: auto;
    height: 300px;
    border: 2px solid black;
    padding: 20px;
    margin: 10px;
}

