.menu{
    margin-left: 70px;
    /* margin-top: 40px; */
    position: absolute;
    z-index: 10;
}
ul{
    padding: 0px;
    position: fixed;
}

.menu>ul>li{
    display: inline;
    padding-right: 30px;
    font-size: 25px;
    font-family: 'Arapey', serif;
}

.menu>ul>li>a{
    text-decoration: none;
    list-style-type: none;
    color: black;
}

@media screen and (max-width: 600px) {

    .menu{
        margin-left: 10px;
        margin-top: 40px;
        position: relative;
        z-index: 10;
    }
    .menu>ul>li{
        font-size: 100%;
        text-align: center;
    }
}