.start {
  height: 100vh;
  position: relative;
  /* border: 2px solid black; */
}

.mg-line {
  border-left: 2px solid rgb(0, 0, 0);
  height: 100vh;
  position: absolute;
  text-align: center;
  right: 0;
  background-color: #fff;
  top: 0;
  position: fixed;
  z-index: 11;
}

.mg-line > h3 {
  padding: 2px;
  line-height: 1.5;
  font-size: 20px;
  font-weight: 100;
}

.line1 {
  position: absolute;
  left: -100px;
  width: 100%;
  height: 110%;
  top: -10px;
}
/* .line2{
    position: absolute;
    z-index: -10;
} */

.dots {
  margin-top: 73vh;
  margin-left: 2%;
}

.git-heading {
  position: absolute;
  top: 3%;
  right: 25%;
  font-family: "PT Serif", serif;
  font-size: 1200%;
  font-weight: 400;
  margin: 0px;
  font-family: "Libre Baskerville", serif;
  z-index: 2;
  transform-style: preserve-3D;
  transition: transform 4s linear;
  animation: gitHeading 4s forwards;
}


@keyframes gitHeading {
  0% {
    opacity: 0;
  }
  60% {
    transform: rotate(-30deg);
    opacity: 0;
    top: -20%;
    /* right: 0%; */

  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
    top: 3%;
    right: 25%;
  }
}
/* 
.git-heading {
  position: absolute;
  font-size: 1200%;
  font-weight: 400;
  margin: 0px;
  font-family: "Libre Baskerville", serif;
  z-index: 2;
  top: 3%;
}

.git-heading-G{
  right: 40%;
  transform-style: preserve-3D;
  transition: transform 3s linear;
  animation: G 3s forwards;
  padding: 10px;

}

.git-heading-I{
  right: 35%;
  transform-style: preserve-3D;
  transition: transform 4s linear;
  animation: G 4s forwards;
  padding: 10px;

}

.git-heading-T{
  right: 24%;
  transform-style: preserve-3D;
  transition: transform 5s linear;
  animation: G 5s forwards;
  padding: 10px;
}

@keyframes G {
  0% {
    opacity: 0;
  }
  60% {
    transform: rotate(-30deg);
    opacity: 0;
    top: 0%;
    right: 0%;

  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
} */

.squares {
  float: right;
  margin-right: 0%;
}

.square2 {
  height: 250px;
  width: 240px;
  background-color: rgba(47, 79, 79, 0.671);
  position: absolute;
  right: 14%;
  top: 18%;
}

.fadeOut {
  transform-style: preserve-3D;
  transition: transform 3s linear;
  animation: move 3s forwards;
}

@keyframes move {
  0% {
    opacity: 1;
  }
  60% {
    transform: rotate(-30deg);
    opacity: 1;
  }
  100% {
    transform: rotate(10deg);
    opacity: 0;
    top: 200%;
  }
}

.fadeBack {
  /* transform-origin: top left; */
  transform-style: preserve-3D;
  transition: transform 2s linear;
  animation: moveback 2s forwards;
}
@keyframes moveback {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.square3 {
  height: 180px;
  width: 180px;
  background-color: rgba(233, 150, 122, 0.63);
  position: absolute;
  right: 23%;
  top: 17%;
  transform: rotate(70deg);
  animation-duration: 5s;
  animation-name: square3-rotate;
  -webkit-animation-name: square3-rotate;
}

@keyframes square3-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(70deg);
  }
}

.square4 {
  height: 90px;
  width: 90px;
  background-color: rgba(109, 109, 109, 0.568);
  position: absolute;
  right: 11%;
  top: 10%;
  transform: rotate(-8deg);
  z-index: 1;
  animation-duration: 5s;
  animation-name: square4-rotate;
  -webkit-animation-name: square4-rotate;
}

@keyframes square4-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-8deg);
  }
}

.square5 {
  height: 180px;
  width: 180px;
  background-color: rgba(109, 109, 109, 0.568);
  position: absolute;
  right: 17%;
  top: 8%;
  transform: rotate(20deg);
  z-index: 1;
  animation-duration: 5s;
  animation-name: square5-rotate;
  -webkit-animation-name: square5-rotate;
}

@keyframes square5-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(20deg);
  }
}

.gitpic1 {
  width: auto;
  height: 200px;
  transform: rotate(10deg);
  margin-right: 80px;
  margin-top: 100px;
  animation-name: gitpic1-rotate;
  -webkit-animation-name: gitpic1-rotate; /* Safari 4.0 - 8.0 */
  animation-duration: 5s;
}

@keyframes gitpic1-rotate {
  0% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

.quiz-text {
  font-weight: 200;
  font-size: 30px;
  /* color: rgba(230, 11, 11, 0.849); */
  /* color:goldenrod; */
  color: rgba(47, 79, 79, 0.671);
}

.quiz-btn {
  font-size: x-large;
  font-weight: 500;
  /* background-color: rgba(230, 11, 11, 0.849); */
  /* background-color: lightgrey; */
  background-color: lightgrey;
  color: darkred;
  width: 150px;
  height: 43px;
  border-radius: 12px;
  border: 1px solid gray;
  cursor: pointer;
  transition-duration: 0.4s;
  display: inline-block;
  font-weight: 300;
}

.quiz-btn:hover {
  /* background-color: #f44336; */
  background-color: lightgrey;
  color: white;
}

/* .quiz-btn>a{
  background-color: lightgrey;
  text-decoration: none;
  
}   */

.quiz-star-div {
  text-align: center;
  top: 65%;
  position: absolute;
  margin: auto;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .git-heading {
    /* position: relative; */
    right: 0;
    top: 20%;
    font-size: 80px;
    position: absolute;
  }

  .gitpic1 {
    width: auto;
    height: 80px;
    margin-right: 90px;
    margin-top: 80px;
  }

  .square2 {
    height: 120px;
    width: 110px;
  }
  .square3 {
    height: 80px;
    width: 80px;
  }

  .square4 {
    height: 30px;
    width: 30px;
  }

  .square5 {
    height: 80px;
    width: 80px;
  }

  .quiz-text {
    font-weight: 200;
    margin: 20px;
    font-size: 20px;
    color: rgba(230, 11, 11, 0.849);
  }

  .mg-line > h3 {
    line-height: 1;
  }
}
