.webHosting-container {
  text-align: center;
}

.webHosting-container > p {
  font-size: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.hosings-div {
  display: flex;
  width: 100%;
}

.github {
  text-align: center;
  width: 50%;
}

.github>p{
margin: 40px;
}

.gitlab {
  text-align: center;
  width: 50%;
}

.gitlab>p{
    margin: 40px;
    }
