.webHosting-container {
  height: 100vh;
  text-align: center;
}

.webHosting-container > p {
  font-size: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.hosings-div {
  display: flex;
  width: 100%;
}

.github {
  text-align: center;
  width: 50%;
  justify-content: space-around;
  border: 2px solid black;
  margin: 20px;
}

.gitlab {
  text-align: center;
  width: 50%;
  justify-content: space-around;
  border: 2px solid black;
  margin: 20px;
}
